---
---

// adjustments

article {
  p {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

// footer

$footer-height: 10em;

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
  color: #000000;
}
footer {
  position: absolute;
  bottom: 0;
  padding: 20px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background-color: #f5f5f5;
}

