<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul class="fa-ul">
          <li>{{ site.title }}</li>
          <li>
            <i class="fa-li fa fa-envelope-o"></i>
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul class="fa-ul">
          {% if site.github_username %}
          <li>
            <i class="fa-li fa fa-github"></i>
            <a href="https://github.com/{{ site.github_username }}">{{ site.github_username }}</a>
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            <i class="fa-li fa fa-twitter"></i>
            <a href="https://twitter.com/{{ site.twitter_username }}">{{ site.twitter_username }}</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <div class="col-md-4">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
